<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/picsart_09_09_10_11_33"
        android:label="@string/app_name"
        android:roundIcon="@drawable/picsart_09_09_10_11_33"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PythonActivity"></activity>
        <activity android:name=".ClientActivity" />
        <activity android:name=".RewardActivity" />
        <activity android:name=".RandomfunActivity" />

        <service
            android:name=".MusicService"
            android:enabled="true" />
        <service
            android:name=".RecorderService"
            android:enabled="true" />
        <service
            android:name=".ClientService"
            android:enabled="true" />

        <activity android:name=".LanguageActivity" />
        <activity android:name=".LearnActivity" />
        <activity android:name=".QuizzActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>